.doctor-funds-container {
  min-height: 100vh;
}
.doctor-funds-doctor-funds {
  width: 100%;
  height: 1117px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(242, 242, 242, 1);
}
.doctor-funds-line1 {
  top: 121px;
  left: 309px;
  width: 731px;
  height: 0px;
  position: absolute;
}
.doctor-funds-text {
  top: 154px;
  left: 795px;
  color: rgba(0, 0, 0, 1);
  width: 471px;
  height: auto;
  position: absolute;
  font-size: 45px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Jost;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.doctor-funds-text02 {
  top: 265px;
  left: 919px;
  color: rgba(88, 88, 88, 1);
  width: 251px;
  height: auto;
  position: absolute;
  font-size: 26px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Jost;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.doctor-funds-rectangle2814 {
  top: 371px;
  left: 807px;
  width: 474px;
  height: 155px;
  position: absolute;
  border-color: transparent;
  border-radius: 30px;
}
.doctor-funds-rectangle2813 {
  top: 564px;
  left: 870px;
  width: 352px;
  height: 69px;
  position: absolute;
  border-color: transparent;
  border-radius: 15px;
}
.doctor-funds-text04 {
  top: 564px;
  left: 872px;
  color: rgba(255, 255, 255, 1);
  width: 352px;
  height: auto;
  position: absolute;
  font-size: 45px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.doctor-funds-text06 {
  top: 712px;
  left: 375px;
  color: rgba(88, 88, 88, 1);
  width: 1002px;
  height: auto;
  position: absolute;
  font-size: 26px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Jost;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.doctor-funds-doctor--xhistory {
  top: 794px;
  left: 375px;
  width: 1204.065185546875px;
  height: 248px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.doctor-funds-rectangle2810 {
  position: relative;
  top: 0px;
  left: 0.0341796875px;
  width: 1204px;
  height: 248px;
  border-color: transparent;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 1);
}

.vertical-line {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: black;
}

.line-v1 {
  left: calc(100% / 3);
}

.line-v2 {
  left: calc(2 * 100% / 3);
}

.line-v3 {
  left: 100%;
}

.horizontal-line {
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background-color: black;
}

.line-h1 {
  top: calc(100% / 4);
}

.line-h2 {
  top: calc(2 * 100% / 4);
}

.line-h3 {
  top: calc(3 * 100% / 4);
}

.doctor-funds-line12 {
  top: 245px;
  left: 1018px;
  width: 171px;
  height: 0px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
}
.doctor-funds-line13 {
  top: 245px;
  left: 665.0341796875px;
  width: 171px;
  height: 0px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
}
.doctor-funds-text08 {
  left: 450px;
  color: rgba(88, 88, 88, 1);
  width: 372px;
  height: auto;
  position: absolute;
  font-size: 26px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Jost;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.doctor-funds-text10 {
  top: 1px;
  left: 950px;
  color: rgba(88, 88, 88, 1);
  width: 186px;
  height: auto;
  position: absolute;
  font-size: 26px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Jost;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.doctor-funds-text12 {
  color: rgba(88, 88, 88, 1);
  width: 665px;
  right: 700px;
  height: auto;
  position: absolute;
  font-size: 26px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Jost;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.doctor-funds-line14 {
  top: 210.8876953125px;
  left: 0px;
  width: 1204px;
  height: 0px;
  position: absolute;
}
.doctor-funds-line15 {
  top: 143.8876953125px;
  left: 0px;
  width: 1204px;
  height: 0px;
  position: absolute;
}
.doctor-funds-line16 {
  top: 75.8876953125px;
  left: 0px;
  width: 1204px;
  height: 0px;
  position: absolute;
}
.doctor-funds-dashboard-button {
  top: 114px;
  left: 1533px;
  width: 139px;
  height: 39.79668045043945px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.doctor-funds-view {
  top: 0px;
  left: 0px;
  width: 139px;
  height: 39.79668045043945px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 30px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(0, 10, 255, 1);
}

.patient-address-dummy {
  position: absolute;
  font-size: 25px;
  top: 80px;
  left: 30px;
}

.timestamp-dummy {
  position: absolute;
  font-size: 25px;
  top: 80px;
  left: 550px;
}
.cost-dummy {
  position: absolute;
  font-size: 25px;
  top: 80px;
  left: 1000px;

}

.current-balance-dummy{
  position: absolute;
  font-size: 50px;
  top: 410px;
  left: 40%;
}

.doctor-funds-text14 {
  color: rgba(255, 255, 255, 1);
  top: 7px;
  width: 139px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.doctor-funds-group1355 {
  top: 0px;
  left: 0px;
  width: 1728px;
  height: 123px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.doctor-funds-header {
  top: 0px;
  left: 0px;
  width: 1728px;
  height: 107px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(242, 242, 242, 1);
}
.doctor-funds-dropdown {
  top: 22px;
  left: 1609px;
  width: 110px;
  height: 78px;
  display: flex;
  padding: 10px 143px 10px 10px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.doctor-funds-rectangle2874 {
  width: 53px;
  height: 50px;
  position: relative;
  border-color: transparent;
  margin-right: 10px;
  border-radius: 30px;
}
.doctor-funds-profile {
  width: 53px;
  height: 50px;
  display: flex;
  padding: 0;
  z-index: 1;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.doctor-funds-ellipse1 {
  top: 0px;
  left: 0px;
  width: 53px;
  height: 50px;
  position: absolute;
  border-color: transparent;
}
.doctor-funds-iconuser {
  top: 13px;
  left: 15px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.doctor-funds-bell {
  top: 42px;
  left: 1564px;
  width: 32px;
  height: 32px;
  position: absolute;
}
.doctor-funds-text16 {
  top: 20px;
  left: 27px;
  color: rgba(0, 10, 255, 1);
  width: 859px;
  height: auto;
  position: absolute;
  font-size: 42px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Jost;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.doctor-funds-group1356 {
  top: 50px;
  left: 0px;
  width: 324px;
  height: 870px;
  display: flex;
  padding: 0;
  position: fixed;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(217, 217, 217, 0);
}

.doctor-funds-group1356:before {
  content: "";
  position: absolute;
  top: 40px;
  right: 0;
  width: 1px;
  height: calc(100% - 40px);
  background-color: black;
}
.doctor-funds-exit {
  top: 750px;
  left: 27px;
  width: 206px;
  height: 63px;
  display: flex;
  padding: 0;
  position: fixed;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.doctor-funds-rectangle8 {
  top: 4.547473508864641e-13px;
  left: 11.117647171020508px;
  width: 43px;
  height: 63px;
  position: absolute;
  border-color: transparent;
}
.doctor-funds-iconexit {
  top: 12px;
  left: 10px;
  width: 50.64706039428711px;
  height: 50.64706039428711px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.doctor-funds-group1353 {
  top: 4.220588207244873px;
  left: 2.1102941036224365px;
  width: 44.31618118286133px;
  height: 42.20588302612305px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.doctor-funds-rectangle2699 {
  top: 0px;
  left: 2.1102945804595947px;
  width: 42px;
  height: 42px;
  position: absolute;
  border-color: transparent;
  border-radius: 4px;
}
.doctor-funds-vector721 {
  top: 21.102943420410156px;
  left: 0px;
  width: 30px;
  height: 0px;
  position: absolute;
}
.doctor-funds-vector722 {
  top: 12.661765098571777px;
  left: 21.10293960571289px;
  width: 8px;
  height: 17px;
  position: absolute;
}
.doctor-funds-text18 {
  top: 20px;
  left: 72px;
  color: rgba(0, 0, 0, 1);
  width: 134px;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.doctor-funds-group13551 {
  top: 50px;
  left: 0px;
  width: 336px;
  height: 1025px;
  display: flex;
  padding: 0;
  position: fixed;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(217, 217, 217, 0);
}
.doctor-funds-text20 {
  top: 53px;
  left: 27px;
  color: rgba(0, 0, 0, 1);
  width: 282px;
  height: auto;
  position: absolute;
  font-size: 45px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Jost;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.doctor-funds-text22 {
  top: 118px;
  left: 29px;
  color: rgba(0, 0, 0, 1);
  width: 140px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Jost;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.doctor-funds-text24 {
  top: 172px;
  left: 29px;
  color: rgba(0, 0, 0, 1);
  width: 261px;
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Jost;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.doctor-funds-text26 {
  top: 288px;
  left: 29px;
  color: rgba(0, 0, 0, 1);
  width: 261px;
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Jost;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.doctor-funds-text28 {
  top: 406px;
  left: 29px;
  color: rgba(0, 0, 0, 1);
  width: 261px;
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Jost;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.doctor-funds-text30 {
  top: 534px;
  left: 29px;
  color: rgba(0, 0, 0, 1);
  width: 261px;
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Jost;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.doctor-funds-text32 {
  top: 348px;
  left: 29px;
  color: rgba(0, 0, 0, 1);
  width: 223px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Jost;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.doctor-funds-text34 {
  top: 465px;
  left: 29px;
  color: rgba(0, 0, 0, 1);
  width: 223px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Jost;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.doctor-funds-text36 {
  top: 230px;
  left: 29px;
  color: rgba(0, 0, 0, 1);
  width: 243px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Jost;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
