.doctor-history-container {
  min-height: 100vh;
}
.doctor-history-doctor-history {
  width: 100%;
  height: 1117px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(242, 242, 242, 1);
}
.doctor-history-text {
  top: 154px;
  left: 795px;
  color: rgba(0, 0, 0, 1);
  width: 471px;
  height: auto;
  position: absolute;
  font-size: 45px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Jost;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.doctor-history-text02 {
  top: 243px;
  left: 381.0341796875px;
  color: rgba(88, 88, 88, 1);
  width: 1002px;
  height: auto;
  position: absolute;
  font-size: 26px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Jost;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.doctor-history-text04 {
  top: 640px;
  left: 1341.0341796875px;
  color: rgba(88, 88, 88, 1);
  width: 161px;
  height: auto;
  position: absolute;
  font-size: 26px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Jost;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.doctor-history-text06 {
  top: 640px;
  left: 391.0341796875px;
  color: rgba(88, 88, 88, 1);
  width: 1002px;
  height: auto;
  position: absolute;
  font-size: 26px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Jost;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.doctor-history-doctor-feedback-container {
  top: 690px;
  left: 391.0341796875px;
  width: 865px;
  height: 80px;
  position: absolute;
  border-color: transparent;
  border-radius: 30px;
}
.doctor-history-rectangle2810 {
  position: relative;
  top: 0;
  left: 0;
  width: 1204px;
  height: 248px;
  border-color: transparent;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 1);
}


.vertical-line {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: black;
}

.horizontal-line {
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background-color: black;
}

.line-h1 {
  top: calc(50%);
}

.line-h2 {
  top: calc(100%);
}


.doctor-history-view {
  top: 560px;
  left: 391.0341796875px;
  width: 241px;
  height: 50px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 30px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(0, 10, 255, 1);
}
.doctor-history-text08 {
  color: rgba(255, 255, 255, 1);
  top: 5px;
  width: 241px;
  height: auto;
  position: absolute;
  font-size: 33px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.doctor-history-doctor-history-container {
  top: 300px;
  left: 381px;
  width: 1204.065185546875px;
  height: 250px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.doctor-history-rectangle2810 {
  top: 2px;
  left: 0.0341796875px;
  width: 1204px;
  height: 248px;
  position: absolute;
  border-color: transparent;
  border-radius: 30px;
}

.doctor-history-rectangle2812 {
  position: relative;
  top: 690px;
  height: 80px;
  width: 250px;
  left: 1330px;
}
.doctor-history-text10 {
  top: 80px;
  left: 1080px;
  color: rgba(0, 0, 0, 1);
  width: 152px;
  height: auto;
  position: absolute;
  font-size: 26px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Jost;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.doctor-history-text12 {
  top: 80px;
  left: 760px;
  color: rgba(0, 0, 0, 1);
  width: 283px;
  height: auto;
  position: absolute;
  font-size: 26px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Jost;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.doctor-history-text14 {
  top: 79px;
  left: 320px;
  color: rgba(0, 0, 0, 1);
  width: 351px;
  height: auto;
  position: absolute;
  font-size: 26px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Jost;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.doctor-history-line14,
.doctor-history-line15,
.doctor-history-line16 {
  border-top: 1px solid black;
  width: 100px;
  margin: 10px 1;
}


.doctor-history-text16 {
  top: 2px;
  left: 665.0341796875px;
  color: rgba(88, 88, 88, 1);
  width: 372px;
  height: auto;
  position: absolute;
  font-size: 26px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Jost;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.doctor-history-text18 {
  top: 3px;
  left: 1049.0341796875px;
  color: rgba(88, 88, 88, 1);
  width: 155px;
  height: auto;
  position: absolute;
  font-size: 26px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Jost;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.doctor-history-text20 {
  left: 299px;
  color: rgba(88, 88, 88, 1);
  width: 366px;
  height: auto;
  position: absolute;
  font-size: 26px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Jost;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.doctor-history-text22 {
  top: 2px;
  color: rgba(88, 88, 88, 1);
  width: 299px;
  height: auto;
  position: absolute;
  font-size: 26px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Jost;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.doctor-history-text24 {
  top: 83px;
  left: 9px;
  color: rgba(0, 0, 0, 1);
  width: 283px;
  height: auto;
  position: absolute;
  font-size: 26px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Jost;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.doctor-history-dashboard-button {
  top: 114px;
  left: 1533px;
  width: 139px;
  height: 39.79668045043945px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.doctor-history-view1 {
  top: 0px;
  left: 0px;
  width: 139px;
  height: 39.79668045043945px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 30px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(0, 10, 255, 1);
}
.doctor-history-text26 {
  color: rgba(255, 255, 255, 1);
  width: 139px;
  top: 7px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.patient-address-history-doc {
  position: absolute;
  z-index: 1;
  font-size: 35px;
  top: 710px;
  left: 430px;
}

.cost-history-doc {
  position: absolute;
  z-index: 1;
  top: 705px;
  font-size: 35px;
  left: 1355px;
}

.history-doc-text {
  position: absolute;
  font-size: 30px;
  z-index: 1;
  top: 330px;
  left: 420px;
}

.doctor-history-group1355 {
  top: 0px;
  left: 0px;
  width: 1728px;
  height: 852px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.doctor-history-header {
  top: 0px;
  left: 0px;
  width: 1728px;
  height: 107px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(242, 242, 242, 1);
}
.doctor-history-dropdown {
  top: 22px;
  left: 1609px;
  width: 110px;
  height: 78px;
  display: flex;
  padding: 10px 143px 10px 10px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}

.doctor-history-profile {
  width: 53px;
  height: 50px;
  display: flex;
  padding: 0;
  z-index: 1;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.doctor-history-ellipse1 {
  top: 0px;
  left: 0px;
  width: 53px;
  height: 50px;
  position: absolute;
  border-color: transparent;
}
.doctor-history-iconuser {
  top: 13px;
  left: 15px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.doctor-history-bell {
  top: 42px;
  left: 1564px;
  width: 32px;
  height: 32px;
  position: absolute;
}
.doctor-history-text28 {
  top: 20px;
  left: 27px;
  color: rgba(0, 10, 255, 1);
  width: 859px;
  height: auto;
  position: absolute;
  font-size: 42px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Jost;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.doctor-history-group1356 {
  top: 50px;
  left: 0px;
  width: 324px;
  height: 870px;
  display: flex;
  padding: 0;
  position: fixed;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(217, 217, 217, 0);
}

.doctor-history-group1356:before {
  content: "";
  position: absolute;
  top: 40px;
  right: 0;
  width: 1px;
  height: calc(100% - 40px);
  background-color: black;
}
.doctor-history-exit {
  top: 750px;
  left: 27px;
  width: 206px;
  height: 63px;
  display: flex;
  padding: 0;
  position: fixed;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.doctor-history-rectangle8 {
  top: 4.547473508864641e-13px;
  left: 11.117647171020508px;
  width: 43px;
  height: 63px;
  position: absolute;
  border-color: transparent;
}
.doctor-history-iconexit {
  top: 12px;
  left: 10px;
  width: 50.64706039428711px;
  height: 50.64706039428711px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.doctor-history-group1353 {
  top: 4.220588207244873px;
  left: 2.1102941036224365px;
  width: 44.31618118286133px;
  height: 42.20588302612305px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.doctor-history-rectangle2699 {
  top: 0px;
  left: 2.1102945804595947px;
  width: 42px;
  height: 42px;
  position: absolute;
  border-color: transparent;
  border-radius: 4px;
}
.doctor-history-vector721 {
  top: 21.102943420410156px;
  left: 0px;
  width: 30px;
  height: 0px;
  position: absolute;
}
.doctor-history-vector722 {
  top: 12.661765098571777px;
  left: 21.10293960571289px;
  width: 8px;
  height: 17px;
  position: absolute;
}
.doctor-history-text30 {
  top: 20px;
  left: 72px;
  color: rgba(0, 0, 0, 1);
  width: 134px;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.doctor-history-group13551 {
  top: 50px;
  left: 0px;
  width: 336px;
  height: 1025px;
  display: flex;
  padding: 0;
  position: fixed;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(217, 217, 217, 0);
}
.doctor-history-text32 {
  top: 53px;
  left: 27px;
  color: rgba(0, 0, 0, 1);
  width: 282px;
  height: auto;
  position: absolute;
  font-size: 45px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Jost;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.doctor-history-text34 {
  top: 118px;
  left: 29px;
  color: rgba(0, 0, 0, 1);
  width: 140px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Jost;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.doctor-history-text36 {
  top: 172px;
  left: 29px;
  color: rgba(0, 0, 0, 1);
  width: 261px;
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Jost;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.doctor-history-text38 {
  top: 288px;
  left: 29px;
  color: rgba(0, 0, 0, 1);
  width: 261px;
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Jost;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.doctor-history-text40 {
  top: 406px;
  left: 29px;
  color: rgba(0, 0, 0, 1);
  width: 261px;
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Jost;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.doctor-history-text42 {
  top: 534px;
  left: 29px;
  color: rgba(0, 0, 0, 1);
  width: 261px;
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Jost;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.doctor-history-text44 {
  top: 348px;
  left: 29px;
  color: rgba(0, 0, 0, 1);
  width: 223px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Jost;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.doctor-history-text46 {
  top: 465px;
  left: 29px;
  color: rgba(0, 0, 0, 1);
  width: 223px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Jost;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.doctor-history-text48 {
  top: 230px;
  left: 29px;
  color: rgba(0, 0, 0, 1);
  width: 243px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Jost;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
